#body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
#lbl{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
#inp{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
#button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
#button:hover{
	background: #6d44b8;
}
.login1{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login1 label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login1{
	transform: translateY(-500px);
}
#chk:checked ~ .login1 label{
	transform: scale(1);	
}
#chk:checked ~ .signup1 label{
	transform: scale(.6);
}

.header-blue {
	background:linear-gradient(135deg,#8B5CF6, #A78BFA);
	background-color:#184e8e;
	padding-bottom:80px;
	font-family:'Source Sans Pro', sans-serif;
  }
  
  @media (min-width:768px) {
	.header-blue {
	padding-bottom:120px;
	}
  }
  
  .header-blue .navbar {
	background:transparent;
	padding-top:.75rem;
	padding-bottom:.75rem;
	color:#fff;
	border-radius:0;
	box-shadow:none;
	border:none;
  }
  
  @media (min-width:768px) {
	.header-blue .navbar {
	  padding-top:1rem;
	  padding-bottom:1rem;
	}
  }
  
  .header-blue .navbar .navbar-brand {
	font-weight:bold;
	color:inherit;
  }
  
  .header-blue .navbar .navbar-brand:hover {
	color:#f0f0f0;
  }
  
  .header-blue .navbar .navbar-collapse {
	border-top:1px solid rgba(255,255,255,0.3);
	margin-top:.5rem;
  }
  
  @media (min-width:768px) {
	.header-blue .navbar .navbar-collapse {
	  border-color:transparent;
	  margin:0;
	}
  }
  
  .header-blue .navbar .navbar-collapse span .login1 {
	color:#d9d9d9;
	margin-right:.5rem;
	text-decoration:none;
  }
  
  .header-blue .navbar .navbar-collapse span .login1:hover {
	color:#fff;
  }
  
  .header-blue .navbar .navbar-toggler {
	border-color:rgba(255,255,255,0.3);
  }
  
  .header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
	background:none;
  }
  
  .header-blue .navbar .navbar-nav a.active, .header-blue .navbar .navbar-nav > .show .dropdown-item {
	background:none;
	box-shadow:none;
  }
  
  @media (min-width: 768px) {
	.header-blue .navbar-nav .nav-link {
	  padding-left:.7rem;
	  padding-right:.7rem;
	}
  }
  
  @media (min-width: 992px) {
	.header-blue .navbar-nav .nav-link {
	  padding-left:1.2rem;
	  padding-right:1.2rem;
	}
  }
  
  .header-blue .navbar .navbar-nav > li > .dropdown-menu {
	margin-top:-5px;
	box-shadow:0 4px 8px rgba(0,0,0,.1);
	background-color:#fff;
	border-radius:2px;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
	line-height:2;
	color:#37434d;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
	background:#ebeff1;
  }
  
  .header-blue .action-button, .header-blue .action-button:not(.disabled):active {
	border:1px solid rgba(255,255,255,0.7);
	border-radius:40px;
	color:#ebeff1;
	box-shadow:none;
	text-shadow:none;
	padding:.3rem .8rem;
	background:transparent;
	transition:background-color 0.25s;
	outline:none;
  }
  
  .header-blue .action-button:hover {
	color:#fff;
  }
  
  .header-blue .navbar .form-inline label {
	color:#d9d9d9;
  }
  
  .header-blue .navbar .form-inline .search-field {
	display:inline-block;
	width:80%;
	background:none;
	border:none;
	border-bottom:1px solid transparent;
	border-radius:0;
	color:#ccc;
	box-shadow:none;
	color:inherit;
	transition:border-bottom-color 0.3s;
  }
  
  .header-blue .navbar .form-inline .search-field:focus {
	border-bottom:1px solid #ccc;
  }
  
  .header-blue .hero {
	margin-top:20px;
	text-align:center;
  }
  
  @media (min-width:768px) {
	.header-blue .hero {
	  margin-top:60px;
	  text-align:left;
	}
  }
  
  .header-blue .hero h1 {
	color:#fff;
	font-size:40px;
	margin-top:0;
	margin-bottom:15px;
	font-weight:300;
	line-height:1.4;
  }
  .header-blue .hero h5 {
	color:#fff;
	font-size:40px;
	margin-top:0;
	margin-bottom:15px;
	font-weight:300;
	line-height:1.4;
  }
  
  @media (min-width:992px) {
	.header-blue .hero h1 {
	  margin-top:190px;
	  margin-bottom:24px;
	  line-height:1.2;
	}
  }
  
  .header-blue .hero p {
	color:rgba(255,255,255,0.8);
	font-size:20px;
	margin-bottom:30px;
	font-weight:300;
  }
  
  .header-blue .phone-holder {
	text-align:right;
  }
  
  .header-blue div.iphone-mockup {
	position:relative;
	max-width:300px;
	margin:20px;
	display:inline-block;
  }
  
  .header-blue .iphone-mockup img.device {
	width:100%;
	height:auto;
  }
  
  .header-blue .iphone-mockup .screen {
	position:absolute;
	width:88%;
	height:77%;
	top:12%;
	border-radius:2px;
	left:6%;
	border:1px solid #444;
	background-color:#aaa;
	overflow:hidden;
	background:url(../../assets/img/screen-content-iphone-6.jpg);
	background-size:cover;
	background-position:center;
  }
  
  .header-blue .iphone-mockup .screen:before {
	content:'';
	background-color:#fff;
	position:absolute;
	width:70%;
	height:140%;
	top:-12%;
	right:-60%;
	transform:rotate(-19deg);
	opacity:0.2;
  }
  
  /* card */

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


.container1 {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  
}

.wrapper1 {
  width: 100%;
  height: 100%;
  
}

.banner-image1 {
  /* background-image: url(https://images.unsplash.com/photo-1641326201918-3cafc641038e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80); */
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}

h2{
  font-family: 'Righteous', sans-serif;
  color: rgba(255,255,255,0.98);
  text-transform: uppercase;
  font-size: 2.4rem;
}

/* p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
} */

.button-wrapper1{
  margin-top: 18px;
}

.btn {
background-color: #5B21B6;
color:#ccc;
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
}

.btn + .btn {
  margin-left: 10px;
}

.outline1 {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all .3s ease;
  
}

.outline1:hover{
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;  
}

.fill1 {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255,255,255,0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease; 
}

.fill1:hover{
  transform: scale(1.125);  
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;    
}
  
  