{%extends 'base1.html'%}
{% load static %}
{% block content %}


<div class="container hero">
<section class="container1" id="next">
  
    <div class = "row">
      
      <div class="product-widget mb-30">
        <h5 class="pt-title ">Filter By Price</h5>
        <div class="price__slider mt-30">
          <div class="mt-30" >
           <input type="range" class="multi-range  success " style="color:red;" value="{{FilterPrice}}" min="{{min_price.price__min}}" max="{{max_price.price__max}}" id="rangeInput" oninput="maxPrice.value=this.value" width="400px;"/>
           
              <form action="" class="s-form mt-20" method="get" style="margin-top:20px;">
                 <b >₹</b><input type="number" id="maxPrice" readonly="" name="FilterPrice" onkeyup="rangeInput.value=this.value" value={{FilterPrice}}{{minMaxPrice.price__min}}>
                 <button type="submit" id="priceFilterBtn" class="tp-btn-square-lg">Filter</button>
              </form>
            
           </div>
        </div>
        </div>
      </div>
      
    <div class= "screen">
  
    
    <div class = "row">
      {%for ho in room %}  
        <div class = "col-lg-4">
          <div class="container">
          {% comment %} <img class ="thumbnail" src={% static  'images/banglore.jpg' %} alt="Snow" style="width:100%;"> {% endcomment %}
          <div class="centered text-light">{{ho.category.name}}</div>
          </div>
          <p >Hotel Name:{{ho.hotel.hotel_name}}</p>
         
          <div class="card mx-auto mb-3" id={{hotel.id}} style="width: 18rem;">
            <img  class="banner-image1" src="{{MEDIA_URL}}{{ho.hotel_image.url}}"alt="hotel image">
            <div class = "box-element product">
              <div class="button-wrapper1" >          
              <button class="tp-btn-square-lg"><b>{{ho.price}}</b></button>
              {% comment %} <button class="btn btn-success">{{ho.Availability}}</button> {% endcomment %}
             <button class = "btn ">{{ho.hotel.location.name}}</button>
             <button class="btn fill1">BUY NOW</button>
              </div>
              <p class="card text-dark"><b>{{ho.hotel.hotel_description}}</b></p> 
            </div>   
              
        </div>
      </div>
    
    
    
    {% endfor %}
  </div>
    
    
    
    </section>
  </div>
  {% comment %} <div class="container1">
    <div class="wrapper1">
      <div class="banner-image1"> </div>
      <h2> Toyota Supra</h2>
      <h2>Lorem ipsum dolor sit amet, <br/>
        consectetur adipiscing elit.</h2>
     </div>
     <div class="button-wrapper1"> 
     <button class="btn outline1">DETAILS</button>
       <button class="btn fill1">BUY NOW</button>
     </div>
       </div>
   </div> {% endcomment %}

  
{% endblock %}